body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: white;

}

.header nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;

}

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 140px;
    padding-left: 140px;


}

.nav-center {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-right: 40px;

}

.header span {
    font-size: 22px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;

}

.header span:hover {
    color: gray;

}

.header img {
    width: 30px;
    cursor: pointer;

}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 140px;


}

.menu>li {
    position: relative;
    font-weight: 500;
    cursor: pointer;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: none;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1000;

}

.dropdown-menu li {
    padding: 10px 20px;
    white-space: nowrap;
    cursor: pointer;

}


.dropdown.active .dropdown-menu {
    max-height: 500px;
    opacity: 1;
    border-radius: 20px;

}

.dropdown.active .arrow {
    transform: rotate(180deg);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 300px;

}


.nav-right svg:first-child {
    width: 30px;
    height: 20px;
    cursor: pointer;

}


.header-btn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 10px 14px;
    margin: 0;
    border: 1px solid;
    border-radius: 50px;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;


}

.header-btn:hover {
    background-color: white;
    color: #1a1a1a;
}

.header-btn svg {
    width: 16px;
    height: 16px;

}

.footer-separator {
    border: none;
    height: 2px;
    background-color: #ccc;
    width: 66%;
    margin-right: 340px;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    cursor: pointer;
    padding-left: 290px;
}

.heading-right {
    display: flex;
    gap: 20px;
    padding-right: 360px;
    font-size: small;

}

.heading-left {
    padding-left: 320px;
}


.heading {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 40px 20px;
    margin-top: 20px;

}

.heading h1 {
    font-size: 3.5rem;
    margin: 0;
    max-width: 800px;
    line-height: 1.2;

}

.heading p {
    font-size: large;
    max-width: 800px;
    margin-top: 4px;
    color: gray;
}


.video {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

.video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content-container {
    background-color: #e8f0fe;
    background: linear-gradient(#e8f0fe, #e8f5e9);
}


.child-container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.heading-left {
    padding-left: 20px;
    font-size: small;
}

.paragraph-right {
    padding-left: 40px;
    width: 54%;
}


.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 100%;
    margin-top: 40px;
    height: 90vh;

}

.item-box {
    background: white;
    border-radius: 20px;
    padding: 24px;
    position: relative;
    overflow: hidden;

}

.item-box span {
    font-size: 14px;
    color: #555;
}

.item-box h2 {
    font-size: 28px;
    margin: 10px 0;
}

.item-box p {
    font-size: 16px;
    color: #666;
    max-width: 80%;
    line-height: 1.6;
}

.header-btn {
    margin-top: 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.item-box video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 16px;
    transform: translate(-50%, -30%);
    margin-top: 50px;
}


.square-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
    padding: 20px;
    background: white;
    height: 60vh;
    border-radius: 20px;
}

.square-box .text-content {
    margin-bottom: 50px;
    width: 43%;
}


.square-box video {
    width: 40%;
    border-radius: 10px;
}

.square-box .text-content p {
    line-height: 1.6;
}


.heading-center {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.last-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.last-video {
    height: auto;
    width: 100%;
}

.shop-latest {
    background-color: white;

}


.heading {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 40px 20px;
    margin-top: 20px;
}

.heading h1 {
    font-size: 3.5rem;
    margin: 0;
    max-width: 800px;
    line-height: 1.2;
}

.header-btn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 10px 14px;
    border: 1px solid;
    border-radius: 50px;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}


.newBoxes {
    display: grid;
    justify-content: center;
    gap: 24px;
    margin: 40px auto;
    grid-template-columns: repeat(3, 400px);
    place-items: center;
}


.newitem-box {
    background-color: #e8f0fe;
    padding: 16px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 375px;
    min-height: 550px;
    box-sizing: border-box;
}


.newparagraph {
    text-align: center;
    color: black;
    margin: 4px;
    font-size: x-large;
    font-weight: 600;
    margin-top: 32px;
}


.newgood {
    margin: 0;
    padding: 0;
    font-size: small;
    font-weight: 600;
    text-align: center;
    color: grey;
}

.box-button {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 12px 14px;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.box-button svg {
    width: 16px;
    height: 16px;
}

.newitem-box img {
    margin-top: 44px;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.videoSection {
    display: flex;
    justify-content: center;
    padding: 100px 20px;
    background-color: #ffffff;
}

.center-card {
    display: flex;
    align-items: center;
    gap: 40px;
    background: rgba(32, 150, 134, 0.12);
    border-radius: 18px;
    overflow: hidden;
    height: 370px;

}


.video-wrapper {
    flex: 1;
    min-height: 300px;

}

.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.content {
    flex: 1;
    padding: 90px 70px;
}

.content h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 16px;
    color: #111;
}

.content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 28px;
}


.header-btn svg {
    width: 18px;
    height: 18px;
}

.lastSection {
    text-align: center;
    padding: 80px 20px 30px;
    height: fit-content;
}

.lastSection h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 12px;
}

.lastSection p {
    font-size: 1rem;
    color: #666;
    max-width: 520px;
    margin: 0 auto;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    overflow: hidden;
}

.google-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 26px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.google-btn:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.alternative-email {
    font-size: 0.9rem;
    color: black;
    text-decoration: underline;
}

.alternative-email:hover {
    text-decoration: underline;
}

.button-wrapper video {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px solid;
    display: block;
    object-fit: cover;
}


.social-icons {
    display: flex;
    gap: 15px;
    padding-left: 290px;
    margin-top: 40px;

}


.social-icons svg {
    width: 32px;
    height: 32px;
    margin: 0 10px;
}

footer {
    background-color: #f5f5f5;
    padding: 40px 20px;
    color: #333;
}

.footer-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding-left: 90px;

}

.footer-column {
    min-width: 150px;
    text-align: left;
    padding-left: 200px;
}

.footer-column h4 {
    font-weight: bold;
    margin-bottom: 30px;

}

.footer-column a {
    display: block;
    text-decoration: none;
    color: #666;
    margin-bottom: 26px;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #000;
}


.footer-separator {
    border: none;
    height: 2px;
    background-color: #ccc;
    width: 70%;
    margin: 20px auto
}


.lastHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 260px;
}

.left-side h1 {
    margin: 0;
    font-size: 22px;
    cursor: pointer;
}


.left-side h3 {
    margin: 0;
    font-size: 16px;
    color: #555;
    padding-left: 30px;
    cursor: pointer;
}

.left-side h3 :hover {
    background-color: black;
}

.right-side h3 {
    margin: 0;
    font-size: 16px;
    color: gray;
    padding-right: 280px;
    cursor: pointer;
}



.left-side p {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    max-width: 600px;
}


.lstParagraph {
    max-width: 45%;
    padding-left: 280px;
    font-size: smaller;
}

.lstImage {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: auto;
}