body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: white;

}

.header nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;

}

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 140px;
    padding-left: 140px;


}

.nav-center {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-right: 40px;

}

.header span {
    font-size: 22px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;

}

.header span:hover {
    color: gray;

}

.header img {
    width: 30px;
    cursor: pointer;

}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 140px;


}

.menu>li {
    position: relative;
    font-weight: 500;
    cursor: pointer;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: none;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1000;

}

.dropdown-menu li {
    padding: 10px 20px;
    white-space: nowrap;
    cursor: pointer;

}


.dropdown.active .dropdown-menu {
    max-height: 500px;
    opacity: 1;
    border-radius: 20px;

}

.dropdown.active .arrow {
    transform: rotate(180deg);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 300px;

}


.nav-right svg:first-child {
    width: 30px;
    height: 20px;
    cursor: pointer;

}


.header-btn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 10px 14px;
    margin: 0;
    border: 1px solid;
    border-radius: 50px;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;


}

.header-btn:hover {
    background-color: white;
    color: #1a1a1a;
}

.header-btn svg {
    width: 16px;
    height: 16px;

}

.footer-separator {
    border: none;
    height: 2px;
    background-color: #ccc;
    width: 66%;
    margin-right: 340px;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding-right: 280px;

}

.heading-left {

    padding-left: 420px;
    font-size: small;

}

.heading-right {
    display: flex;
    gap: 40px;
    font-size: small;
    color: gray;
    padding-right: 120px;
}

.heading-right h4.bold {
    color: black;
    font-weight: bold;
}

.video {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



body {
    background: #fff;
    display: grid;
    place-items: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 1100px;
    width: 100%;
    padding: 40px;
}

.hero-content {
    max-width: 500px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
}

.hero-content h1 span {
    color: #3b82f6;
}

.hero-content p {
    margin: 20px 0 30px;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 12px 26px;
    border: 1px solid #000;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    background-color: #000;
    font-weight: 500;
    transition: 0.3s;
}

.btn:hover {
    background: white;
    color: black;
}

.hero-video video {
    width: 450px;
    height: auto;
    border-radius: 20px;
}

.hero-two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 1100px;
    width: 100%;
    padding: 40px;
    flex-direction: row;
}


.social-icons {
    display: flex;
    gap: 15px;
    padding-left: 290px;
    margin-top: 40px;

}

.social-icons svg {
    width: 32px;
    height: 32px;
    margin: 0 10px;
}

footer {
    background-color: #f5f5f5;
    padding: 40px 20px;
    color: #333;
}

.footer-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding-left: 90px;

}

.footer-column {
    min-width: 150px;
    text-align: left;
    padding-left: 200px;
}

.footer-column h4 {
    font-weight: bold;
    margin-bottom: 30px;

}

.footer-column a {
    display: block;
    text-decoration: none;
    color: #666;
    margin-bottom: 26px;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #000;
}


.footer-separator {
    border: none;
    height: 2px;
    background-color: #ccc;
    width: 70%;
    margin: 20px auto
}


.lastHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 260px;
}

.left-side h1 {
    margin: 0;
    font-size: 22px;
    cursor: pointer;
}


.left-side h3 {
    margin: 0;
    font-size: 16px;
    color: #555;
    padding-left: 30px;
    cursor: pointer;
}

.left-side h3 :hover {
    background-color: black;
}

.right-side h3 {
    margin: 0;
    font-size: 16px;
    color: gray;
    padding-right: 280px;
    cursor: pointer;
}



.left-side p {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    max-width: 600px;
}


.lstParagraph {
    max-width: 45%;
    padding-left: 280px;
    font-size: smaller;
}

.lstImage {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: auto;
}