body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: white;

}

.header nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;

}

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 140px;
    padding-left: 140px;


}

.nav-center {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-right: 40px;

}

.header span {
    font-size: 22px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;

}

.header span:hover {
    color: gray;

}

.header img {
    width: 30px;
    cursor: pointer;

}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 140px;


}

.menu>li {
    position: relative;
    font-weight: 500;
    cursor: pointer;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: none;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1000;

}

.dropdown-menu li {
    padding: 10px 20px;
    white-space: nowrap;
    cursor: pointer;

}


.dropdown.active .dropdown-menu {
    max-height: 500px;
    opacity: 1;
    border-radius: 20px;

}

.dropdown.active .arrow {
    transform: rotate(180deg);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 300px;

}


.nav-right svg:first-child {
    width: 30px;
    height: 20px;
    cursor: pointer;

}


.header-btn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 10px 14px;
    margin: 0;
    border: 1px solid;
    border-radius: 50px;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;


}

.header-btn:hover {
    background-color: white;
    color: #1a1a1a;
}

.header-btn svg {
    width: 16px;
    height: 16px;

}


.second-line p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 18px;
    color: white;
    font-size: 14px;


}

.second-line span {
    cursor: pointer;
    text-decoration: underline;
}

.heading {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 40px 20px;
    margin-top: 20px;

}

.heading h1 {
    font-size: 3.5rem;
    margin: 0;
    max-width: 800px;
    line-height: 1.2;

}

.heading p {
    font-size: 1rem;
    max-width: 800px;
    margin: 0;
    color: gray;
}

.button-container {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin-top: 16px;

}

.header-btn.two {
    background-color: white;
    color: black;
    margin-top: 5px;

    display: flex;
    align-items: center;
    gap: 8px;

}

.header-btn.two:hover {
    background-color: gainsboro;
}


.video {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin: 80px;
    font-size: 3.5rem;
    font-weight: 600;
}

.box {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px auto;
    flex-wrap: wrap;
}

.item-box {
    background-color: #e8f0fe;
    padding: 16px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 375px;
    box-sizing: border-box;
    min-height: 550px;
}

.item-box span {
    margin-top: 32px;
    font-size: small;
    font-weight: 600;
    text-align: center;
    color: grey;
}

.item-box p {
    text-align: center;
    color: black;
    margin: 4px;
    font-size: x-large;
    font-weight: 600;

}

.box-button {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 12px 14px;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.box-button svg {
    width: 16px;
    height: 16px;
}

.item-box img,
.item-box video {
    margin-top: 44px;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1600px;
    margin: auto;

}


.item-box .paragraph {
    margin-top: 32px;

}

.item-box .good {
    margin: 0;
    padding: 0;
}

.imgsection {
    width: 100%;
    background-color: black;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgsection .content {
    padding: 50px 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.imgsection .content h1 {

    font-size: 3rem;
    white-space: nowrap;
    text-align: center;
}

.my-image {
    width: 100%;
    height: auto;
    max-width: 100%;

}



.videoSection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: white;
    padding-top: 80px;


}

.center-card {
    display: flex;
    align-items: stretch;
    gap: 40px;
    background-color: rgba(32, 150, 134, 0.171);
    padding: 0;
    border-radius: 15px;
    width: 64%;
    height: 45%;
    overflow: hidden;
}

.video-wrapper video {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: block;
}

.content {
    max-width: 400px;
}

.content h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 800;
    margin-top: 130px;

}

.content p {
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: gray;
}

.lastSection {
    text-align: center;
    padding: 60px 40px;
    background-color: white;
    margin-top: -450px;
    width: 800px;
    position: relative;
    left: 50px;
    margin-left: auto;
    margin-right: auto;
}


.lastSection h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: #202020;
    margin-right: 60px;
}

.lastSection p {
    font-size: 1rem;
    color: #555;
    max-width: 400px;
    margin-left: 170px;
    line-height: 1.6;

}


.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.google-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #dcdcdc;
    border-radius: 999px;
    padding: 10px 20px;
    cursor: pointer;
}

.google-btn:hover {
    background-color: #f7f7f7;

}

.google-btn svg {
    width: 20px;
    height: 20px;
    display: block;
}

.alternative-email {
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

.button-wrapper video {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px solid;
    display: block;
    object-fit: cover;
}


.social-icons {
    display: flex;
    gap: 15px;
    padding-left: 290px;
    margin-top: 40px;

}


.social-icons svg {
    width: 32px;
    height: 32px;
    margin: 0 10px;
}

footer {
    background-color: #f5f5f5;
    padding: 40px 20px;
    color: #333;
}

.footer-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding-left: 90px;

}

.footer-column {
    min-width: 150px;
    text-align: left;
    padding-left: 200px;
}

.footer-column h4 {
    font-weight: bold;
    margin-bottom: 30px;

}

.footer-column a {
    display: block;
    text-decoration: none;
    color: #666;
    margin-bottom: 26px;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #000;
}


.footer-separator {
    border: none;
    height: 2px;
    background-color: #ccc;
    width: 70%;
    margin: 20px auto
}


.lastHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 260px;
}

.left-side h1 {
    margin: 0;
    font-size: 22px;
    cursor: pointer;
}


.left-side h3 {
    margin: 0;
    font-size: 16px;
    color: #555;
    padding-left: 30px;
    cursor: pointer;
}

.left-side h3 :hover {
    background-color: black;
}

.right-side h3 {
    margin: 0;
    font-size: 16px;
    color: gray;
    padding-right: 280px;
    cursor: pointer;
}



.left-side p {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    max-width: 600px;
}


.lstParagraph {
    max-width: 45%;
    padding-left: 280px;
    font-size: smaller;
}

.lstImage {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: auto;
}